<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="SearchFolder" value="C:\RenderTool\SearchFolder"/>
    <!--Root destination folder for tv shows-->
    <add key="TVDestinationFolder" value="D:\RenderTool\OutFolder"/>
    <!--Root destination folder for movies-->
    <add key="MovieDestinationFolder" value="C:\RenderTool\Movies"/>
    <!--If EnableOutFolder is true, it will enable the two destination folders above. If set to false, the two paths are ignored.-->
    <add key="EnableOutFolder" value="true"/>
    <add key="SortFoldersInstead" value="true"/> <!--Sort folders the same way as files. This will sort the folders instead of files, but will moved the contents of the folders with them.-->
  </appSettings>
</configuration>